<%- include('../partials/header') %>
    <h1>Skills</h1>
     <ul>
       <% skills.forEach(function(s) { %>
         <li>
           <a href="/skills/<%= s.id %>"><%= s.coding %></a>
             - 
           <%= s.beginner ? 'beginner' : 'non-beginner' %>
         </li>
       <% }); %>
     </ul>
     <a href="/skills/new">Add Skill</a>
    
<%- include('../partials/footer') %>